{% extends 'base.html.twig' %}

{% block title %}Hello tacheController!{% endblock %}

{% block body %}
<h1>Page Tache</h1>
<p> Name : {{ tache.nom }}</p>
<p> Famille: {{famillle}}
{% endblock %}